{% extends 'base.html' %}

{% block content %}
    <p>
            Módulo para el registro de usuarios e inicio de sesiones utilizando correo electrónico. 
            
    </p>
    <p>
        Incluye:
    </p>
        <ul class="mb-3">
        
            <li>Registro de usuario.</li>
            <li>Confirmación de cuenta por correo electrónico.</li>
            <li>Inicio de sesión.</li>
            <li>Recuperación de contraseña.</li>
            
        </ul>
    <div class="d-grid gap-2">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Iniciar sesión</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-outline-primary">Registrarse</a>
    </div>
            
{% endblock %}
