{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
  <h2 class="text-center mb-4">{{ t('recovery_title') }}</h2>

  <form method="post" action="{{ url_for('auth.password_recovery') }}">
    <div class="mb-3">
      <label for="email" class="form-label">{{ t('email') }}</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">{{ t('recovery_button') }}</button>
  </form>

  <div class="mb-1"></div>

  <div class="d-grid gap-2">
    <a href="{{ url_for('auth.login') }}" class="btn btn-secondary">{{ t('back_button') }}</a>
  </div>

</div>
{% endblock %}
